@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To The Pet Store</h1>
    <p class="lead">Have a look around to find cute pets!</p>
    <p><a href="http://www.ilovedogs.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rusty</h2>
        <p><img src="~/Images/Rusty.jpg" /></p>
    </div>
    <div class="col-md-4">
        <h2>Tiny</h2>
        <p>
            <img src="~/Images/tiny.jpg" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Boo</h2>
        <p><img src="~/Images/Boo.jpg" /></p>
    </div>
    </div>
